<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <label for="">Email</label>
        <br>
        <input type="email" name="email">
        <br>
        <label for="">username</label>
        <br>
        <input type="text" name="username">
        <br>
        <label for="">password</label>
        <br>
        <input type="password" name="password">
        <br>
        <button type="submit">Submit</button>
    </form>

    <div>
        {% for message in messages %}
        
            <span>{{message}}</span>

        {% endfor %}
    </div>

</body>
</html> 